* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0288d1;
  --blue-dark: #187caa;
  --red: #cf2127;
  --white: #fff;
  --gray: #959595;
  --gray-dark: #464646;
  --primary: #0288d1;
  --secondary: #959595;
  --success: #6cc942;
  --info: #0ccaff;
  --warning: #ffc107;
  --danger: red;
  --light: #ebebeb;
  --dark: #464646;
  --rebranding-primary: #ee4d2d;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: "Avenir Next", "Avenir Next W01", Avenir, helvetica, arial, sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  color: #333;
  min-height: 100%;
  font-family: "Avenir Next", "Avenir Next W01", Avenir, helvetica, arial, sans-serif;
  line-height: 20px;
  background-size: cover ;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 50px;
  background-color: #839192 ;
  font-size: 2.3rem;
  font-weight: 700;
}

.hero-section{
  border-radius: 6px 6px  6px 6px;
  background-color:  #0288d1;
  width: 1200px;
  height: auto;
  margin: auto auto;
  justify-items: center;
}

.hero-container{
  background-color: white;
  margin: auto auto;
  width: 900px;
  height: auto;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px 400px;
  grid-column-gap: 40px;
  grid-row-gap: 70px;
  justify-content: center;
  max-width: 1200px;
}

.grid--connect__copy-1{
  width: 400px;
  height: 400px;
  grid-row: 1/2;
  grid-column: 2/3;
  line-height: 3rem;
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.grid--connect__copy-2{
  width: 400px;
  height: 400px;
  grid-row: 2/3;
  grid-column: 1/2;
  line-height: 3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.grid--connect__copy-3{
  width: 400px;
  height: 400px;
  grid-row: 3/4;
  grid-column: 2/3;
  line-height: 3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.grid--connect__image-1{
  grid-row: 1/2;
  grid-column: 1/1;

}
.grid--connect__image-2{
  grid-row: 2/3;
  grid-column: 2/3;
}

.grid--connect__image-3{
  grid-row: 3/4;
  grid-column: 1/2;
}

img{
  width: 400px;
  height: 400px;
}

h4 {
  display: block;
  margin-bottom: 1.33em;
}
