* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0288d1;
  --blue-dark: #187caa;
  --red: #cf2127;
  --white: #fff;
  --gray: #959595;
  --gray-dark: #464646;
  --primary: #0288d1;
  --secondary: #959595;
  --success: #6cc942;
  --info: #0ccaff;
  --warning: #ffc107;
  --danger: red;
  --light: #ebebeb;
  --dark: #464646;
  --rebranding-primary: #ee4d2d;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: "Avenir Next", "Avenir Next W01", Avenir, helvetica, arial, sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  color: #333;
  min-height: 100%;
  font-family: "Avenir Next", "Avenir Next W01", Avenir, helvetica, arial, sans-serif;
  line-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 50px;
  background-color: #839192;
  font-size: 2.3rem;
  font-weight: 700;
}

img {
  width: 400px;
  height: 400px;
}

h4 {
  display: block;
  margin-bottom: 1.33em;
}

.hero-section {
  border-radius: 6px;
  background-color: var(--blue);
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hero-container {
  background-color: var(--white);
  width: 900px;
  height: auto;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-column-gap: 40px;
  grid-row-gap: 70px;
  justify-content: center;
  max-width: 1200px;
}

.grid--connect__copy-2 {
  grid-row: 2/3;
}

.connect-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

