* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0288d1;
  --blue-dark: #187caa;
  --red: #cf2127;
  --white: #fff;
  --gray: #959595;
  --gray-dark: #464646;
  --primary:#fdedec;
  --secondary: #f5b7b1
  --success: #6cc942;
  --info: #0ccaff;
  --warning: #ffc107;
  --danger: red;
  --light: #ebebeb;
  --dark: #464646;
  --rebranding-primary: #ee4d2d;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: "ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  color: #333;
  min-height: 100%;
  font-family: "Avenir Next", "Avenir Next W01", Avenir, helvetica, arial, sans-serif;
  line-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 50px;
  background-color: #839192;
  font-size: 2.3rem;
  font-weight: 700;
}

img {
  width: 200px;
  height: 200px;
}

h4 {
  display: block;
  margin-bottom: 1.33em;
}

.hero-section {
  border-radius: 6px;
  background-color: var(--blue);
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.6rem;
}

.hero-container {
  background-color: var(--white);
  width: 900px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

.hero-image {
  width: 200px;
  height: auto;
  position: relative;
}

img{

}
.fa-add {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fdedec;
  padding: 0 5px;
  color: #f44336;
}
.text-1{
  color:#f44336 ;
  font-size: 1.6rem;
}

.text-2 {
  padding-top: 10px;
  color: #f44336;
  font-size: 1.6rem;
}

.text {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
